<div ng-controller="DraftController"></div>

@section Scripts{
    <script src="~/js/draft/app.js" asp-append-version="true"></script>
    <script src="~/js/signalRService.js" asp-append-version="true"></script>
    <script src="~/js/draft/controller.js" asp-append-version="true"></script>
}